<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Employee_management</display-name>

  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>servlets.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseConnection</display-name>
    <servlet-name>DatabaseConnection</servlet-name>
    <servlet-class>servlets.DatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnection</servlet-name>
    <url-pattern>/DatabaseConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeServlet</display-name>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>servlets.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/DeleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployeeServlet</display-name>
    <servlet-name>EditEmployeeServlet</servlet-name>
    <servlet-class>servlets.EditEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployeeServlet</servlet-name>
    <url-pattern>/EditEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeesServlet</display-name>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <servlet-class>servlets.ViewEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <url-pattern>/ViewEmployeesServlet</url-pattern>
  </servlet-mapping>
</web-app>